/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.search-result {
    position: absolute;
    background: #fff;
    border: 1px solid #dee2e6 !important;
    width: 400px;
    right: 0;
    display: none;
}

.product-result {
    padding: 5px;
}

.product-name {
    font-weight: bold;
}

.product-info {
    display: flex;
}

.product-category {
    font-size: small;
    font-style: italic;
}

.product-brand {
    font-size: small;
    flex: auto;
    text-align: right;
}

.product-description {
    font-size: xx-small;
}

.product-result + .product-result {
    border-top: 1px solid #dee2e6 !important;
}

.txt-product-count-error {
    display: none;
}

a.btn-product-edit + a.btn-product-delete {
    margin-left: 10px;
} 